{{define "title"}}home{{end}}

{{ define "kaf-header" }}
<header>
    <h1><a href='/'>kafView</a></h1>
</header>
{{end}}

{{define "home-header"}}
<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand text-center" href="/">home</a>
</nav>
<div class="row justify-content-center">
    {{ template "kaf-header"}}
</div>
{{end}}

{{ define "kaf-footer"}}
<footer class="my-4 text-center">Powered by <a href='https://golang.org/'>Go</a></footer>
{{end}}

{{define "topics"}}
<table class="table table-striped table-bordered">
    <tr>
        <th class="topic-header mb-3" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Topic</span>
                </div>
                <input type="text" class="form-control" id="search-input" placeholder="Search Topics"
                onkeyup="filterTopics()">
                <div class="input-group-append">
                  <span class="input-group-text">{{len .Topics}}</span>
                </div>
              </div>
        </th>
        <th>Partitions</th>
        <th>Replicas</th>
        <th>Isrs</th>
    </tr>
    {{range $topicName, $topicMetadata := .Topics}}
    <tr>
        <td> 
        <a href="#" hx-get="/topic-details?name={{$topicName}}" hx-trigger="click" hx-target="body" hx-swap="outerHTML">
            {{$topicName}}
        </a>
        </td>
        <td>{{len $topicMetadata.Partitions}}</td>
        <td>{{countReplicas $topicMetadata.Partitions}}</td>
        <td>{{countIsrs $topicMetadata.Partitions}}</td>
    </tr>
    {{end}}
</table>
{{end}}

{{define "brokers"}}
<table  class="table table-striped table-bordered">
    <tr>
        <th>Broker ID</th>
        <th>Host</th>
        <th>Port</th>
    </tr>
    {{range .Brokers}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Host}}</td>
        <td>{{.Port}}</td>
    </tr>
    {{end}}
</table>
{{end}}

{{define "clusterInfo"}}
    {{template "brokers" .}}
    {{ if eq .Status "DOWN" }}
    <h5 style="color: red;">Status: Kafka server is down</h5>
    {{end}}
{{end}}