{{define "home"}}
<!doctype html>
<html lang='en' hx-boost="true">

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - kafView</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div>
        {{ template "home-header"}}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">

                <div class="row">
                    <h2>Brokers</h2>
                </div>
                <hr>
                <div class="row " id="cluster-info">
                    {{template "clusterInfo" .}}
                </div>

                <div class="row">
                    <h2>Topics</h2>
                </div>

                <div class="row btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                        <div class="col-2 btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary btn-sm" hx-get="/createtopicform"
                                hx-trigger="click" hx-target="body" hx-swap="outerHTML">New Topic</button>
                        </div>
                        <div class="col-2 btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-secondary btn-sm" hx-get="/createtopicform"
                                hx-trigger="click" hx-target="body" hx-swap="outerHTML">Publish Payload</button>
                        </div>
                </div>
                <hr>
                <div class="row" id="topics-list">
                    <div hx-get="/topics" hx-trigger="every 300s" hx-target="#topics-list" hx-swap="innerHTML">
                    </div>
                    {{template "topics" .}}
                </div>

            </div>
        </div>

    </div>
    <div>
        {{ template "kaf-footer"}}
    </div>
    <script src="/static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>

    <script>
        function filterTopics() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById('search-input');
            filter = input.value.toLowerCase();
            table = document.querySelector("#topics-list table");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) { // Start from 1 to skip the header row
                td = tr[i].getElementsByTagName("td")[0]; // Assuming the topic name is in the first column
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>
{{end}}