{{ define "describeTopic"}}

<body>
    <div>
        {{ template "home-header"}}
    </div>
    <div class="container" hx-target="this" hx-swap="outerHTML">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div id="item-1">
                    <h2>Topic: {{.Name}}</h2>
                    <div>
                        <button type="button" class="btn btn-info" hx-get="/view-topic?topicname={{.Name}}" hx-target="#item-1" hx-swap="inerHTML">View Messages</button>
                        <button type="button" class="btn btn-danger" hx-delete="/delete-topic/{{.Name}}" hx-target="#item-1" hx-swap="inerHTML"
                            hx-confirm="Are you sure you want to delete this topic?">
                            Delete Topic
                        </button>
                        <hr>
                    </div>
                    
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Topic Name</th>
                            <th>Topic ID</th>
                            <th>Allowed Operations</th>
                            <th>IsInternal</th>
                        </tr>
                        <tr>
                            <td rowspan="{{len .Partitions}}">{{.Name}}</td>
                            <td rowspan="{{len .Partitions}}">{{.TopicID}}</td>
                            <td rowspan="{{len .Partitions}}">{{.AuthorizedOperations}}</td>
                            <td rowspan="{{len .Partitions}}">{{.IsInternal}}</td>
                        </tr>
                    </table>

                    <h3>Partition Detail</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Partition ID</th>
                                <th>Leader</th>
                                <th>In-Sync Replicas</th>
                                <th>Replicas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{range $index, $partition := .Partitions}}
                                {{if $index}}
                            <tr>
                                {{end}}
                                <td>{{$partition.Partition}}</td>
                                <td>{{$partition.Leader}}</td>
                                <td>{{range $partition.Isr}}{{$index}}, {{end}}</td>
                                <td>{{range $partition.Replicas}}{{$index}}, {{end}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

                {{ template "kaf-footer"}}
            </div>
        </div>
    </div>
    <script src="/static/main.js?v=2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>

</body>

{{end}}